In [173]:
import pandas as pd
#import math

In [174]:
crime_df = pd.read_csv('C:/Users/Luba Tovbin/Desktop/CMPE-255/crime/crime_data_w_population_and_crime_rate.csv')

In [175]:
crime_df[:20]

,county_name,crime_rate_per_100000,index,EDITION,PART,IDNO,CPOPARST,CPOPCRIM,AG_ARRST,AG_OFF,...,RAPE,ROBBERY,AGASSLT,BURGLRY,LARCENY,MVTHEFT,ARSON,population,FIPS_ST,FIPS_CTY
0,"St. Louis city, MO",1791.995377,1,1,4,1612,318667,318667,15,15,...,200,1778,3609,4995,13791,3543,464,318416,29,510
1,"Crittenden County, AR",1754.914968,2,1,4,130,50717,50717,4,4,...,38,165,662,1482,1753,189,28,49746,5,35
2,"Alexander County, IL",1664.700485,3,1,4,604,8040,8040,2,2,...,2,5,119,82,184,12,2,7629,17,3
3,"Kenedy County, TX",1456.310680,4,1,4,2681,444,444,1,1,...,3,1,2,5,4,4,0,412,48,261
4,"De Soto Parish, LA",1447.402430,5,1,4,1137,26971,26971,3,3,...,4,17,368,149,494,60,0,27083,22,31
5,"Baltimore city, MD",1419.537569,6,1,4,1227,625474,625474,9,9,...,317,3638,4660,7804,18055,4009,251,622104,24,510
6,"Shelby County, TN",1315.003752,7,1,4,2534,942807,942807,15,14,...,483,3512,8224,14011,30620,3233,435,939465,47,157
7,"Marlboro County, SC",1253.437132,8,1,4,2377,28780,28780,9,8,...,20,32,296,408,1074,67,5,28003,45,69
8,"Storey County, NV",1217.656012,9,1,4,1778,3947,3947,1,1,...,7,2,39,23,55,8,2,3942,32,29
9,"District of Columbia, DC",1216.801325,10,1,4,325,632323,632323,2,1,...,236,4037,3505,3519,23575,3663,51,646449,11,1
10,"Dillon County, SC",1165.583272,11,1,4,2359,32060,32060,9,8,...,17,48,291,595,1206,105,12,31229,45,33
11,"Scott County, MO",1163.145839,12,1,4,1597,40941,40941,7,8,...,7,26,422,236,1002,39,8,39290,29,201
12,"Philadelphia County, PA",1150.296330,13,1,4,2320,1538957,1538957,6,5,...,881,7984,8669,12004,38595,6401,0,1553165,42,101
13,"Pershing County, NV",1148.756725,14,1,4,1777,6822,6822,2,2,...,3,1,75,27,43,5,0,6877,32,27
14,"Greenwood County, SC",1140.226324,15,1,4,2366,71009,70499,10,8,...,39,73,676,965,2564,122,12,69723,45,47
15,"Madison County, TN",1138.423830,16,1,4,2512,98988,99067,4,5,...,33,196,882,1300,2604,180,27,98733,47,113
16,"Davidson County, TN",1129.513728,17,1,4,2474,635244,635244,10,10,...,312,1753,5309,5875,20373,1418,100,658602,47,37
17,"Marion County, IN",1083.508119,18,1,4,753,911521,867596,11,9,...,453,3486,6017,15125,29122,4757,414,928281,18,97
18,"Wayne County, MI",1065.188284,19,1,4,1324,1800769,1793982,47,47,...,803,5879,11795,19882,34706,15251,766,1775273,26,163
19,"Jackson County, MO",1026.623686,20,1,4,1545,839561,837636,19,23,...,358,1913,4594,9695,25994,4953,318,679996,29,95

In [176]:
crime_df.drop(['index','EDITION','PART','IDNO','CPOPARST','CPOPCRIM'], axis=1, inplace=True)

In [177]:
print(len(crime_df['county_name'].unique()))

3136

In [178]:
crime_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3136 entries, 0 to 3135
Data columns (total 18 columns):
county_name              3136 non-null object
crime_rate_per_100000    3136 non-null float64
AG_ARRST                 3136 non-null int64
AG_OFF                   3136 non-null int64
COVIND                   3136 non-null float64
INDEX                    3136 non-null int64
MODINDX                  3136 non-null int64
MURDER                   3136 non-null int64
RAPE                     3136 non-null int64
ROBBERY                  3136 non-null int64
AGASSLT                  3136 non-null int64
BURGLRY                  3136 non-null int64
LARCENY                  3136 non-null int64
MVTHEFT                  3136 non-null int64
ARSON                    3136 non-null int64
population               3136 non-null int64
FIPS_ST                  3136 non-null int64
FIPS_CTY                 3136 non-null int64
dtypes: float64(2), int64(15), object(1)
memory usage: 441.1+ KB

In [179]:
income_df = pd.read_csv('C:/Users/Luba Tovbin/Desktop/CMPE-255/income_dataset/US_income_Kaggle.csv',
                        encoding='latin-1')

In [180]:
income_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15463 entries, 0 to 15462
Data columns (total 19 columns):
id            15463 non-null int64
State_Code    15463 non-null int64
State_Name    15463 non-null object
State_ab      15463 non-null object
County        15463 non-null object
City          15463 non-null object
Place         15463 non-null object
Type          15463 non-null object
Primary       15463 non-null object
Zip_Code      15463 non-null int64
Area_Code     15463 non-null int64
ALand         15463 non-null int64
AWater        15463 non-null int64
Lat           15463 non-null float64
Lon           15463 non-null float64
Mean          15463 non-null float64
Median        15463 non-null int64
Stdev         15463 non-null object
Households    15463 non-null int64
dtypes: float64(3), int64(8), object(8)
memory usage: 2.2+ MB

In [181]:
income_df[:20]

,id,State_Code,State_Name,State_ab,County,City,Place,Type,Primary,Zip_Code,Area_Code,ALand,AWater,Lat,Lon,Mean,Median,Stdev,Households
0,101901,1,Alabama,AL,Chambers County,Wadley,Abanda,CDP,place,36276,256,7764034,34284,33.091627,-85.527029,14596.666483,11326,10911.1105596114+0i,52
1,101903,1,Alabama,AL,Jefferson County,Adamsville,Adamsville city,City,place,35005,205,65064935,29719,33.605750,-86.974650,95877.022049,85644,101255.628258487+0i,1704
2,101905,1,Alabama,AL,Hale County,Akron,Akron,Town,place,35541,205,1776164,13849,32.879495,-87.741679,25388.782786,20009,24839.9829145421+0i,126
3,101907,1,Alabama,AL,Marshall County,Albertville,Albertville city,City,place,35950,256,68731806,258708,34.263130,-86.210660,100168.627948,85168,113147.596969836+0i,7307
4,101909,1,Alabama,AL,Calhoun County,Alexandria,Alexandria,CDP,place,36250,256,28834974,33099,33.760819,-85.872008,93216.541355,92686,92828.3528811165+0i,1464
5,101911,1,Alabama,AL,Blount County,Oneonta,Allgood,Town,place,35121,205,2690288,1452,33.907623,-86.516109,78111.826087,72651,68954.9676827159+0i,245
6,101913,1,Alabama,AL,Etowah County,Walnut Grove,Altoona,Town,place,35990,205,11193369,25442,34.039204,-86.305697,52118.247145,45447,39522.5864474801+0i,323
7,101915,1,Alabama,AL,Lauderdale County,Anderson,Anderson,Town,place,35610,256,3347216,1520,34.915675,-87.274274,75046.460629,74670,78423.6274343179+0i,115
8,101917,1,Alabama,AL,Cullman County,Arab,Arab city,City,place,35016,256,34345826,346373,34.332387,-86.501167,60403.877880,300000,49341.996372404+0i,25
9,101919,1,Alabama,AL,Limestone County,Ardmore,Ardmore,Town,place,35739,256,5289466,21830,34.987838,-86.829022,88080.227948,73785,101398.063007548+0i,571
10,101921,1,Alabama,AL,St. Clair County,Odenville,Argo,Town,place,35120,205,27893577,150331,33.691576,-86.503766,79360.859773,86061,73434.7553097582+0i,1513
11,101923,1,Alabama,AL,Winston County,Arley,Arley,Town,place,35541,205,9740655,33989,34.076234,-87.217831,50176.455290,49775,23405.958309527+0i,179
12,101925,1,Alabama,AL,Clay County,Ashland,Ashland,Town,place,36251,256,18986275,85046,33.269892,-85.833706,64354.015845,63003,48055.7877349791+0i,1037
13,101927,1,Alabama,AL,Limestone County,Athens,Athens city,City,place,35611,256,103245839,659827,34.779021,-86.950799,137600.437235,111583,152581.769456703+0i,9326
14,101929,1,Alabama,AL,Etowah County,Attalla,Attalla city,City,place,35954,256,18079281,0,33.986189,-86.121037,84119.827767,76235,92890.4632801784+0i,2313
15,101931,1,Alabama,AL,Autauga County,Autaugaville,Autaugaville,Town,place,36003,334,19936288,526181,32.432563,-86.658752,54145.175898,58862,15092.0863331447+0i,462
16,101933,1,Alabama,AL,Mobile County,Satsuma,Axis,CDP,place,36572,251,10164766,28960,30.922563,-88.021850,88596.793637,94953,84787.2468594984+0i,278
17,101935,1,Alabama,AL,Cullman County,Baileyton,Baileyton,Town,place,35019,256,13620112,146518,34.260858,-86.608788,116960.327327,72563,141888.400209742+0i,329
18,101937,1,Alabama,AL,Etowah County,Hokes Bluff,Ballplay,CDP,place,35903,256,60996781,485209,34.023046,-85.801481,63208.810388,71242,19697.1774267899+0i,506
19,101939,1,Alabama,AL,Baldwin County,Bay Minette,Bay Minette city,City,place,36507,251,44692221,196438,30.894436,-87.791306,97243.107413,81210,112772.623533399+0i,3011

In [182]:
# redefine 'Place' column to be "County, State_ab"
income_df['Place'] = income_df['County'] + ', ' + income_df['State_ab']

In [183]:
income_df[:20]

,id,State_Code,State_Name,State_ab,County,City,Place,Type,Primary,Zip_Code,Area_Code,ALand,AWater,Lat,Lon,Mean,Median,Stdev,Households
0,101901,1,Alabama,AL,Chambers County,Wadley,"Chambers County, AL",CDP,place,36276,256,7764034,34284,33.091627,-85.527029,14596.666483,11326,10911.1105596114+0i,52
1,101903,1,Alabama,AL,Jefferson County,Adamsville,"Jefferson County, AL",City,place,35005,205,65064935,29719,33.605750,-86.974650,95877.022049,85644,101255.628258487+0i,1704
2,101905,1,Alabama,AL,Hale County,Akron,"Hale County, AL",Town,place,35541,205,1776164,13849,32.879495,-87.741679,25388.782786,20009,24839.9829145421+0i,126
3,101907,1,Alabama,AL,Marshall County,Albertville,"Marshall County, AL",City,place,35950,256,68731806,258708,34.263130,-86.210660,100168.627948,85168,113147.596969836+0i,7307
4,101909,1,Alabama,AL,Calhoun County,Alexandria,"Calhoun County, AL",CDP,place,36250,256,28834974,33099,33.760819,-85.872008,93216.541355,92686,92828.3528811165+0i,1464
5,101911,1,Alabama,AL,Blount County,Oneonta,"Blount County, AL",Town,place,35121,205,2690288,1452,33.907623,-86.516109,78111.826087,72651,68954.9676827159+0i,245
6,101913,1,Alabama,AL,Etowah County,Walnut Grove,"Etowah County, AL",Town,place,35990,205,11193369,25442,34.039204,-86.305697,52118.247145,45447,39522.5864474801+0i,323
7,101915,1,Alabama,AL,Lauderdale County,Anderson,"Lauderdale County, AL",Town,place,35610,256,3347216,1520,34.915675,-87.274274,75046.460629,74670,78423.6274343179+0i,115
8,101917,1,Alabama,AL,Cullman County,Arab,"Cullman County, AL",City,place,35016,256,34345826,346373,34.332387,-86.501167,60403.877880,300000,49341.996372404+0i,25
9,101919,1,Alabama,AL,Limestone County,Ardmore,"Limestone County, AL",Town,place,35739,256,5289466,21830,34.987838,-86.829022,88080.227948,73785,101398.063007548+0i,571
10,101921,1,Alabama,AL,St. Clair County,Odenville,"St. Clair County, AL",Town,place,35120,205,27893577,150331,33.691576,-86.503766,79360.859773,86061,73434.7553097582+0i,1513
11,101923,1,Alabama,AL,Winston County,Arley,"Winston County, AL",Town,place,35541,205,9740655,33989,34.076234,-87.217831,50176.455290,49775,23405.958309527+0i,179
12,101925,1,Alabama,AL,Clay County,Ashland,"Clay County, AL",Town,place,36251,256,18986275,85046,33.269892,-85.833706,64354.015845,63003,48055.7877349791+0i,1037
13,101927,1,Alabama,AL,Limestone County,Athens,"Limestone County, AL",City,place,35611,256,103245839,659827,34.779021,-86.950799,137600.437235,111583,152581.769456703+0i,9326
14,101929,1,Alabama,AL,Etowah County,Attalla,"Etowah County, AL",City,place,35954,256,18079281,0,33.986189,-86.121037,84119.827767,76235,92890.4632801784+0i,2313
15,101931,1,Alabama,AL,Autauga County,Autaugaville,"Autauga County, AL",Town,place,36003,334,19936288,526181,32.432563,-86.658752,54145.175898,58862,15092.0863331447+0i,462
16,101933,1,Alabama,AL,Mobile County,Satsuma,"Mobile County, AL",CDP,place,36572,251,10164766,28960,30.922563,-88.021850,88596.793637,94953,84787.2468594984+0i,278
17,101935,1,Alabama,AL,Cullman County,Baileyton,"Cullman County, AL",Town,place,35019,256,13620112,146518,34.260858,-86.608788,116960.327327,72563,141888.400209742+0i,329
18,101937,1,Alabama,AL,Etowah County,Hokes Bluff,"Etowah County, AL",CDP,place,35903,256,60996781,485209,34.023046,-85.801481,63208.810388,71242,19697.1774267899+0i,506
19,101939,1,Alabama,AL,Baldwin County,Bay Minette,"Baldwin County, AL",City,place,36507,251,44692221,196438,30.894436,-87.791306,97243.107413,81210,112772.623533399+0i,3011

In [184]:
print(len(income_df['Place'].unique()))

2980

In [185]:
k = 0
for i in crime_df['county_name']:
    for j in income_df['Place']:
        if i==j:
            k += 1
print(k)

15255

In [186]:
# Some places in income_df appear more than onece, corresponding to different cities.
# Since we're interested only on County+State, let's combine duplicate rows in 'Place'
income_df.drop(['id','State_Code','State_Name','State_ab','County','City',
                'Type','Primary','Zip_Code','Area_Code','ALand','AWater',
               'Lat','Lon','Median'], axis=1, inplace=True)

In [187]:
income_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15463 entries, 0 to 15462
Data columns (total 4 columns):
Place         15463 non-null object
Mean          15463 non-null float64
Stdev         15463 non-null object
Households    15463 non-null int64
dtypes: float64(1), int64(1), object(2)
memory usage: 483.3+ KB

In [188]:
income_df[:20]

                    Place           Mean                Stdev  Households
0     Chambers County, AL   14596.666483  10911.1105596114+0i          52
1    Jefferson County, AL   95877.022049  101255.628258487+0i        1704
2         Hale County, AL   25388.782786  24839.9829145421+0i         126
3     Marshall County, AL  100168.627948  113147.596969836+0i        7307
4      Calhoun County, AL   93216.541355  92828.3528811165+0i        1464
5       Blount County, AL   78111.826087  68954.9676827159+0i         245
6       Etowah County, AL   52118.247145  39522.5864474801+0i         323
7   Lauderdale County, AL   75046.460629  78423.6274343179+0i         115
8      Cullman County, AL   60403.877880   49341.996372404+0i          25
9    Limestone County, AL   88080.227948  101398.063007548+0i         571
10   St. Clair County, AL   79360.859773  73434.7553097582+0i        1513
11     Winston County, AL   50176.455290   23405.958309527+0i         179
12        Clay County, AL   64354.015845  48055.7877349791+0i        1037
13   Limestone County, AL  137600.437235  152581.769456703+0i        9326
14      Etowah County, AL   84119.827767  92890.4632801784+0i        2313
15     Autauga County, AL   54145.175898  15092.0863331447+0i         462
16      Mobile County, AL   88596.793637  84787.2468594984+0i         278
17     Cullman County, AL  116960.327327  141888.400209742+0i         329
18      Etowah County, AL   63208.810388  19697.1774267899+0i         506
19     Baldwin County, AL   97243.107413  112772.623533399+0i        3011

In [189]:
income_df['Mean*Households'] = income_df['Mean']*income_df['Households']

In [190]:
type(income_df.at[0,'Stdev'])

str

In [191]:
type(float(income_df.at[0,'Stdev'][:-3]))

float

In [192]:
Stdev_list = []
for i in income_df.index:
    Stdev_list.append(float(income_df.at[0,'Stdev'][:-3]))

In [193]:
income_df['Stdev_not_sqrd'] = pd.Series(Stdev_list)
income_df['Stdev_sqrd'] = income_df['Stdev_not_sqrd']**2

In [194]:
income_df[:2]

,Place,Mean,Stdev,Households,Mean*Households,Stdev_not_sqrd,Stdev_sqrd
0,"Chambers County, AL",14596.666483,10911.1105596114+0i,52,7.590267e+05,10911.11056,1.190523e+08
1,"Jefferson County, AL",95877.022049,101255.628258487+0i,1704,1.633744e+08,10911.11056,1.190523e+08

In [195]:
income_df.drop(['Mean','Stdev','Stdev_not_sqrd'], axis=1, inplace=True)

In [196]:
income_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15463 entries, 0 to 15462
Data columns (total 4 columns):
Place              15463 non-null object
Households         15463 non-null int64
Mean*Households    15463 non-null float64
Stdev_sqrd         15463 non-null float64
dtypes: float64(2), int64(1), object(1)
memory usage: 483.3+ KB

In [197]:
income_df = income_df.groupby(['Place'],as_index=False).sum()

In [198]:
income_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2980 entries, 0 to 2979
Data columns (total 4 columns):
Place              2980 non-null object
Households         2980 non-null int64
Mean*Households    2980 non-null float64
Stdev_sqrd         2980 non-null float64
dtypes: float64(2), int64(1), object(1)
memory usage: 116.4+ KB

In [199]:
income_df[:5]

                  Place  Households  Mean*Households    Stdev_sqrd
0  Abbeville County, SC        2779     2.271800e+08  3.571570e+08
1     Acadia Parish, LA        6228     6.160152e+08  7.143140e+08
2   Accomack County, VA        4425     3.494679e+08  2.976308e+09
3        Ada County, ID       36986     4.588200e+09  3.571570e+08
4      Adair County, IA         812     8.555825e+07  4.762093e+08

In [200]:
income_df = income_df[income_df['Stdev_sqrd']!=0]

In [201]:
income_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2980 entries, 0 to 2979
Data columns (total 4 columns):
Place              2980 non-null object
Households         2980 non-null int64
Mean*Households    2980 non-null float64
Stdev_sqrd         2980 non-null float64
dtypes: float64(2), int64(1), object(1)
memory usage: 116.4+ KB

In [202]:
income_df['Mean'] = income_df['Mean*Households']/income_df['Households']

In [203]:
income_df['Stdev'] = income_df['Stdev_sqrd']**1/2

In [204]:
income_df.head()

,Place,Households,Mean*Households,Stdev_sqrd,Mean,Stdev
0,"Abbeville County, SC",2779,2.271800e+08,3.571570e+08,81748.824120,1.785785e+08
1,"Acadia Parish, LA",6228,6.160152e+08,7.143140e+08,98910.599062,3.571570e+08
2,"Accomack County, VA",4425,3.494679e+08,2.976308e+09,78975.791655,1.488154e+09
3,"Ada County, ID",36986,4.588200e+09,3.571570e+08,124052.337596,1.785785e+08
4,"Adair County, IA",812,8.555825e+07,4.762093e+08,105367.299412,2.381047e+08

In [205]:
income_df.drop(['Mean*Households','Stdev_sqrd'], axis=1, inplace=True)

In [206]:
income_df.head()

                  Place  Households           Mean         Stdev
0  Abbeville County, SC        2779   81748.824120  1.785785e+08
1     Acadia Parish, LA        6228   98910.599062  3.571570e+08
2   Accomack County, VA        4425   78975.791655  1.488154e+09
3        Ada County, ID       36986  124052.337596  1.785785e+08
4      Adair County, IA         812  105367.299412  2.381047e+08

In [208]:
# merge crime_df and income_df
k = 0
for i in crime_df['county_name']:
    for j in income_df['Place']:
        if i==j:
            k += 1
print(k)

2873

In [210]:
 total_df = crime_df.set_index('county_name').join(income_df.set_index('Place'))

In [211]:
total_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3136 entries, St. Louis city, MO to Lawrence County, MS
Data columns (total 20 columns):
crime_rate_per_100000    3136 non-null float64
AG_ARRST                 3136 non-null int64
AG_OFF                   3136 non-null int64
COVIND                   3136 non-null float64
INDEX                    3136 non-null int64
MODINDX                  3136 non-null int64
MURDER                   3136 non-null int64
RAPE                     3136 non-null int64
ROBBERY                  3136 non-null int64
AGASSLT                  3136 non-null int64
BURGLRY                  3136 non-null int64
LARCENY                  3136 non-null int64
MVTHEFT                  3136 non-null int64
ARSON                    3136 non-null int64
population               3136 non-null int64
FIPS_ST                  3136 non-null int64
FIPS_CTY                 3136 non-null int64
Households               2873 non-null float64
Mean                     2867 non-null float64
Stdev                    2873 non-null float64
dtypes: float64(5), int64(15)
memory usage: 594.5+ KB

In [212]:
total_df.dropna(axis=0, how='any', inplace=True)

In [213]:
total_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2867 entries, Crittenden County, AR to Lawrence County, MS
Data columns (total 20 columns):
crime_rate_per_100000    2867 non-null float64
AG_ARRST                 2867 non-null int64
AG_OFF                   2867 non-null int64
COVIND                   2867 non-null float64
INDEX                    2867 non-null int64
MODINDX                  2867 non-null int64
MURDER                   2867 non-null int64
RAPE                     2867 non-null int64
ROBBERY                  2867 non-null int64
AGASSLT                  2867 non-null int64
BURGLRY                  2867 non-null int64
LARCENY                  2867 non-null int64
MVTHEFT                  2867 non-null int64
ARSON                    2867 non-null int64
population               2867 non-null int64
FIPS_ST                  2867 non-null int64
FIPS_CTY                 2867 non-null int64
Households               2867 non-null float64
Mean                     2867 non-null float64
Stdev                    2867 non-null float64
dtypes: float64(5), int64(15)
memory usage: 470.4+ KB

In [214]:
total_df[:20]

,crime_rate_per_100000,AG_ARRST,AG_OFF,COVIND,INDEX,MODINDX,MURDER,RAPE,ROBBERY,AGASSLT,BURGLRY,LARCENY,MVTHEFT,ARSON,population,FIPS_ST,FIPS_CTY,Households,Mean,Stdev
county_name,,,,,,,,,,,,,,,,,,,,
"Crittenden County, AR",1754.914968,4,4,100.0000,873,3424,8,38,165,662,1482,1753,189,28,49746,5,35,14585.0,102159.445572,3.571570e+08
"Alexander County, IL",1664.700485,2,2,100.0000,127,278,1,2,5,119,82,184,12,2,7629,17,3,1729.0,55906.105475,2.381047e+08
"De Soto Parish, LA",1447.402430,3,3,100.0000,392,703,3,4,17,368,149,494,60,0,27083,22,31,1939.0,99694.339442,3.571570e+08
"Shelby County, TN",1315.003752,15,14,100.0000,12354,47864,135,483,3512,8224,14011,30620,3233,435,939465,47,157,268905.0,118835.368152,1.785785e+08
"Marlboro County, SC",1253.437132,9,8,100.0000,351,1549,3,20,32,296,408,1074,67,5,28003,45,69,1263.0,45890.368773,1.190523e+08
"Storey County, NV",1217.656012,1,1,100.0000,48,86,0,7,2,39,23,55,8,2,3942,32,29,397.0,86204.059041,5.952617e+07
"Scott County, MO",1163.145839,7,8,100.0000,457,1277,2,7,26,422,236,1002,39,8,39290,29,201,8082.0,104221.586710,2.976308e+08
"Pershing County, NV",1148.756725,2,2,100.0000,79,75,0,3,1,75,27,43,5,0,6877,32,27,410.0,76881.362104,1.785785e+08
"Greenwood County, SC",1140.226324,10,8,100.0000,795,3651,7,39,73,676,965,2564,122,12,69723,45,47,1127.0,75770.025284,2.976308e+08
"Madison County, TN",1138.423830,4,5,100.0000,1124,4084,13,33,196,882,1300,2604,180,27,98733,47,113,8.0,48399.499997,5.952617e+07
"Davidson County, TN",1129.513728,10,10,100.0000,7439,27666,65,312,1753,5309,5875,20373,1418,100,658602,47,37,2127.0,210185.067983,1.190523e+08
"Marion County, IN",1083.508119,11,9,100.0000,10058,49004,102,453,3486,6017,15125,29122,4757,414,928281,18,97,30127.0,103679.648116,5.357355e+08
"Wayne County, MI",1065.188284,47,47,99.6046,18910,69839,433,803,5879,11795,19882,34706,15251,766,1775273,26,163,388356.0,85376.021786,9.524187e+08
"Jackson County, MO",1026.623686,19,23,100.0000,6981,40642,116,358,1913,4594,9695,25994,4953,318,679996,29,95,95090.0,115570.634821,6.547878e+08
"Northwest Arctic Borough, AK",1014.964216,1,1,100.0000,78,210,0,23,12,43,46,126,38,2,7685,2,188,1647.0,126031.871924,5.357355e+08
"Pemiscot County, MO",998.709533,7,7,100.0000,178,678,0,6,21,151,192,463,23,2,17823,29,155,448.0,50677.276171,2.976308e+08
"Iberville Parish, LA",974.016244,4,3,100.0000,325,1220,5,9,26,285,266,928,26,0,33367,22,47,5635.0,96070.924660,3.571570e+08
"Pulaski County, AR",959.916582,11,11,100.0000,3756,26881,61,179,1058,2458,7065,18011,1805,130,391284,5,119,94302.0,137162.503832,4.762093e+08
"Jefferson County, AR",959.134320,5,5,100.0000,702,3960,14,42,139,507,1400,2306,255,44,73191,5,69,2599.0,110345.495476,2.381047e+08
"Miller County, AR",956.177135,2,2,100.0000,415,2215,1,9,45,360,488,1597,130,6,43402,5,91,264.0,92690.781790,5.952617e+07

In [217]:
total_df.drop(['AG_ARRST','AG_OFF','COVIND','INDEX','MODINDX','FIPS_ST','FIPS_CTY'], axis=1,inplace=True)
total_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2867 entries, Crittenden County, AR to Lawrence County, MS
Data columns (total 13 columns):
crime_rate_per_100000    2867 non-null float64
MURDER                   2867 non-null int64
RAPE                     2867 non-null int64
ROBBERY                  2867 non-null int64
AGASSLT                  2867 non-null int64
BURGLRY                  2867 non-null int64
LARCENY                  2867 non-null int64
MVTHEFT                  2867 non-null int64
ARSON                    2867 non-null int64
population               2867 non-null int64
Households               2867 non-null float64
Mean                     2867 non-null float64
Stdev                    2867 non-null float64
dtypes: float64(4), int64(9)
memory usage: 393.6+ KB

In [218]:
total_df.head()

,crime_rate_per_100000,MURDER,RAPE,ROBBERY,AGASSLT,BURGLRY,LARCENY,MVTHEFT,ARSON,population,Households,Mean,Stdev
county_name,,,,,,,,,,,,,
"Crittenden County, AR",1754.914968,8,38,165,662,1482,1753,189,28,49746,14585.0,102159.445572,3.571570e+08
"Alexander County, IL",1664.700485,1,2,5,119,82,184,12,2,7629,1729.0,55906.105475,2.381047e+08
"De Soto Parish, LA",1447.402430,3,4,17,368,149,494,60,0,27083,1939.0,99694.339442,3.571570e+08
"Shelby County, TN",1315.003752,135,483,3512,8224,14011,30620,3233,435,939465,268905.0,118835.368152,1.785785e+08
"Marlboro County, SC",1253.437132,3,20,32,296,408,1074,67,5,28003,1263.0,45890.368773,1.190523e+08

In [220]:
total_df.reset_index(inplace=True)

In [221]:
total_df[:2]

,county_name,crime_rate_per_100000,MURDER,RAPE,ROBBERY,AGASSLT,BURGLRY,LARCENY,MVTHEFT,ARSON,population,Households,Mean,Stdev
0,"Crittenden County, AR",1754.914968,8,38,165,662,1482,1753,189,28,49746,14585.0,102159.445572,3.571570e+08
1,"Alexander County, IL",1664.700485,1,2,5,119,82,184,12,2,7629,1729.0,55906.105475,2.381047e+08

In [222]:
total_df.to_csv('C:/Users/Luba Tovbin/Desktop/CMPE-255/proj/income_crime.csv',index=False)