In [182]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as stats

In [183]:
crime_df = pd.read_csv('C:/Users/Luba Tovbin/Desktop/CMPE-255/crime/crime_data_w_population_and_crime_rate.csv')

In [184]:
crime_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3136 entries, 0 to 3135
Data columns (total 24 columns):
county_name              3136 non-null object
crime_rate_per_100000    3136 non-null float64
index                    3136 non-null int64
EDITION                  3136 non-null int64
PART                     3136 non-null int64
IDNO                     3136 non-null int64
CPOPARST                 3136 non-null int64
CPOPCRIM                 3136 non-null int64
AG_ARRST                 3136 non-null int64
AG_OFF                   3136 non-null int64
COVIND                   3136 non-null float64
INDEX                    3136 non-null int64
MODINDX                  3136 non-null int64
MURDER                   3136 non-null int64
RAPE                     3136 non-null int64
ROBBERY                  3136 non-null int64
AGASSLT                  3136 non-null int64
BURGLRY                  3136 non-null int64
LARCENY                  3136 non-null int64
MVTHEFT                  3136 non-null int64
ARSON                    3136 non-null int64
population               3136 non-null int64
FIPS_ST                  3136 non-null int64
FIPS_CTY                 3136 non-null int64
dtypes: float64(2), int64(21), object(1)
memory usage: 588.1+ KB

In [185]:
crime_df.head()

,county_name,crime_rate_per_100000,index,EDITION,PART,IDNO,CPOPARST,CPOPCRIM,AG_ARRST,AG_OFF,...,RAPE,ROBBERY,AGASSLT,BURGLRY,LARCENY,MVTHEFT,ARSON,population,FIPS_ST,FIPS_CTY
0,"St. Louis city, MO",1791.995377,1,1,4,1612,318667,318667,15,15,...,200,1778,3609,4995,13791,3543,464,318416,29,510
1,"Crittenden County, AR",1754.914968,2,1,4,130,50717,50717,4,4,...,38,165,662,1482,1753,189,28,49746,5,35
2,"Alexander County, IL",1664.700485,3,1,4,604,8040,8040,2,2,...,2,5,119,82,184,12,2,7629,17,3
3,"Kenedy County, TX",1456.310680,4,1,4,2681,444,444,1,1,...,3,1,2,5,4,4,0,412,48,261
4,"De Soto Parish, LA",1447.402430,5,1,4,1137,26971,26971,3,3,...,4,17,368,149,494,60,0,27083,22,31

In [186]:
print(crime_df.loc[0,'county_name'])
print(type(crime_df.loc[0,'county_name']))

St. Louis city, MO
<class 'str'>

In [187]:
places_list = []
states_list = []
for i in crime_df['county_name']:
    place = i.split(', ')
    places_list.append(place[0])
    states_list.append(place[1])

In [188]:
print(len(places_list))

3136

In [189]:
places_set = set(places_list)
states_set = set(states_list)

In [190]:
print(len(places_set))
print(len(states_set))

1870
51

In [191]:
places = pd.Series(places_list, name= 'Place')
states = pd.Series(states_list, name= 'State_ab')

In [192]:
print(type(places))
print(type(states))
print(type(crime_df['crime_rate_per_100000']))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [193]:
# combine plases and states with the rest of crime_df
crime_df = pd.concat([states, places,
                       crime_df[['crime_rate_per_100000',
                                 'MURDER','RAPE','ROBBERY',
                                 'AGASSLT','BURGLRY','LARCENY','MVTHEFT','population']]], axis=1)

In [194]:
crime_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3136 entries, 0 to 3135
Data columns (total 11 columns):
State_ab                 3136 non-null object
Place                    3136 non-null object
crime_rate_per_100000    3136 non-null float64
MURDER                   3136 non-null int64
RAPE                     3136 non-null int64
ROBBERY                  3136 non-null int64
AGASSLT                  3136 non-null int64
BURGLRY                  3136 non-null int64
LARCENY                  3136 non-null int64
MVTHEFT                  3136 non-null int64
population               3136 non-null int64
dtypes: float64(1), int64(8), object(2)
memory usage: 269.6+ KB

In [195]:
crime_df.head()

,State_ab,Place,crime_rate_per_100000,MURDER,RAPE,ROBBERY,AGASSLT,BURGLRY,LARCENY,MVTHEFT,population
0,MO,St. Louis city,1791.995377,119,200,1778,3609,4995,13791,3543,318416
1,AR,Crittenden County,1754.914968,8,38,165,662,1482,1753,189,49746
2,IL,Alexander County,1664.700485,1,2,5,119,82,184,12,7629
3,TX,Kenedy County,1456.310680,0,3,1,2,5,4,4,412
4,LA,De Soto Parish,1447.402430,3,4,17,368,149,494,60,27083

In [196]:
crime_df.tail()

,State_ab,Place,crime_rate_per_100000,MURDER,RAPE,ROBBERY,AGASSLT,BURGLRY,LARCENY,MVTHEFT,population
3131,IN,Ohio County,0.0,0,0,0,0,2,2,0,5994
3132,MS,Newton County,0.0,0,0,0,0,4,0,1,21689
3133,SD,Jerauld County,0.0,0,0,0,0,1,3,1,2066
3134,OK,Cimarron County,0.0,0,0,0,0,1,2,0,2335
3135,MS,Lawrence County,0.0,0,0,0,0,0,0,0,12514

In [197]:
crime_df['Place'].value_counts

<bound method IndexOpsMixin.value_counts of 0          St. Louis city
1       Crittenden County
2        Alexander County
3           Kenedy County
4          De Soto Parish
              ...
3131          Ohio County
3132        Newton County
3133       Jerauld County
3134      Cimarron County
3135      Lawrence County
Name: Place, Length: 3136, dtype: object>

In [198]:
income_df = pd.read_csv('C:/Users/Luba Tovbin/Desktop/CMPE-255/income_dataset/US_income_Kaggle.csv',
                        encoding='latin-1')

In [199]:
income_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15463 entries, 0 to 15462
Data columns (total 19 columns):
id            15463 non-null int64
State_Code    15463 non-null int64
State_Name    15463 non-null object
State_ab      15463 non-null object
County        15463 non-null object
City          15463 non-null object
Place         15463 non-null object
Type          15463 non-null object
Primary       15463 non-null object
Zip_Code      15463 non-null int64
Area_Code     15463 non-null int64
ALand         15463 non-null int64
AWater        15463 non-null int64
Lat           15463 non-null float64
Lon           15463 non-null float64
Mean          15463 non-null float64
Median        15463 non-null int64
Stdev         15463 non-null object
Households    15463 non-null int64
dtypes: float64(3), int64(8), object(8)
memory usage: 2.2+ MB

In [200]:
income_df.head()

,id,State_Code,State_Name,State_ab,County,City,Place,Type,Primary,Zip_Code,Area_Code,ALand,AWater,Lat,Lon,Mean,Median,Stdev,Households
0,101901,1,Alabama,AL,Chambers County,Wadley,Abanda,CDP,place,36276,256,7764034,34284,33.091627,-85.527029,14596.666483,11326,10911.1105596114+0i,52
1,101903,1,Alabama,AL,Jefferson County,Adamsville,Adamsville city,City,place,35005,205,65064935,29719,33.605750,-86.974650,95877.022049,85644,101255.628258487+0i,1704
2,101905,1,Alabama,AL,Hale County,Akron,Akron,Town,place,35541,205,1776164,13849,32.879495,-87.741679,25388.782786,20009,24839.9829145421+0i,126
3,101907,1,Alabama,AL,Marshall County,Albertville,Albertville city,City,place,35950,256,68731806,258708,34.263130,-86.210660,100168.627948,85168,113147.596969836+0i,7307
4,101909,1,Alabama,AL,Calhoun County,Alexandria,Alexandria,CDP,place,36250,256,28834974,33099,33.760819,-85.872008,93216.541355,92686,92828.3528811165+0i,1464

In [201]:
income_df['County'].value_counts

<bound method IndexOpsMixin.value_counts of 0         Chambers County
1        Jefferson County
2             Hale County
3         Marshall County
4          Calhoun County
               ...
15458       Platte County
15459       Platte County
15460       Albany County
15461     Campbell County
15462       Platte County
Name: County, Length: 15463, dtype: object>

In [202]:
N = len(crime_df)
print(N)
M = len(income_df)
print(M)

3136
15463

In [203]:
#build a dictionary of separate income dataframes for each state
income_df_dict = {}
for i in crime_df.index:
    st = crime_df.at[i,'State_ab']
    state_income_df = income_df.loc[income_df['State_ab'] == st]
    income_df_dict.update({st:state_income_df})

In [204]:
print(len(income_df_dict))

51

In [205]:
print(income_df_dict.keys())

dict_keys(['MO', 'AR', 'IL', 'TX', 'LA', 'MD', 'TN', 'SC', 'NV', 'DC', 'PA', 'IN', 'MI', 'AK', 'OK', 'GA', 'AL', 'WI', 'MN', 'CA', 'IA', 'MA', 'FL', 'OH', 'NC', 'KS', 'WV', 'NM', 'MS', 'NJ', 'VA', 'NY', 'AZ', 'CO', 'DE', 'KY', 'MT', 'SD', 'NE', 'OR', 'WY', 'WA', 'CT', 'ND', 'RI', 'ID', 'UT', 'HI', 'NH', 'VT', 'ME'])

In [206]:
print(type(income_df_dict['CA']))

<class 'pandas.core.frame.DataFrame'>

In [207]:
income_df_dict['CA'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 763 entries, 1008 to 1770
Data columns (total 19 columns):
id            763 non-null int64
State_Code    763 non-null int64
State_Name    763 non-null object
State_ab      763 non-null object
County        763 non-null object
City          763 non-null object
Place         763 non-null object
Type          763 non-null object
Primary       763 non-null object
Zip_Code      763 non-null int64
Area_Code     763 non-null int64
ALand         763 non-null int64
AWater        763 non-null int64
Lat           763 non-null float64
Lon           763 non-null float64
Mean          763 non-null float64
Median        763 non-null int64
Stdev         763 non-null object
Households    763 non-null int64
dtypes: float64(3), int64(8), object(8)
memory usage: 119.2+ KB

In [208]:
income_df_dict['CA'].head()

,id,State_Code,State_Name,State_ab,County,City,Place,Type,Primary,Zip_Code,Area_Code,ALand,AWater,Lat,Lon,Mean,Median,Stdev,Households
1008,6011844,6,California,CA,Contra Costa County,Walnut Creek,Acalanes Ridge,CDP,place,94597,925,1193073,0,37.904722,-122.078574,224288.553702,300000,219436.277135555+0i,401
1009,6011846,6,California,CA,Los Angeles County,Acton,Acton,CDP,place,93510,661,101679341,60418,34.496070,-118.183897,161768.769496,161313,165668.190181848+0i,2473
1010,6011848,6,California,CA,Modoc County,Bieber,Adin,CDP,place,96009,530,8901691,15858,41.199312,-120.956779,76495.656874,300000,70492.6479983459+0i,57
1011,6011850,6,California,CA,Los Angeles County,Agua Dulce,Agua Dulce,CDP,place,91390,661,59181145,14646,34.504582,-118.316399,179406.073140,186920,181490.17965768+0i,1187
1012,6011852,6,California,CA,Madera County,Ahwahnee,Ahwahnee,CDP,place,93601,559,25961479,0,37.365224,-119.719300,109746.828845,110710,105515.886146643+0i,815

In [209]:
print(len(crime_df))

3136

In [210]:
mean_list = []
median_list = []
stdv_list = []
households_list = []

for i in crime_df.index:
    st = crime_df.at[i,'State_ab']
    plce = crime_df.at[i,'Place']
    
    for j in income_df_dict[st].index:              
        if plce==income_df_dict[st].at[j, 'County']:    #or plce==income_df_dict[st].at[j, 'Place']:
            mean_list.append(income_df_dict[st].at[j,'Mean'])
            median_list.append(income_df_dict[st].at[j,'Median'])
            stdv_list.append(income_df_dict[st].at[j,'Stdev'])
            households_list.append(income_df_dict[st].at[j,'Households'])

In [212]:
print(len(mean_list))
print(len(median_list))
print(len(stdv_list))
print(len(households_list))

15255
15255
15255
15255